### Imports

In [1]:
import pandas as pd

### download all tables from wiki and select the correct one

In [2]:
df_list=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df=df_list[0]
df.head(5)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### remove all not assigned boroughs

In [3]:
df=df.loc[df['Borough'] !='Not assigned']
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [4]:
df['Borough'].values

array(['North York', 'North York', 'Downtown Toronto', 'North York',
       'Downtown Toronto', 'Etobicoke', 'Scarborough', 'North York',
       'East York', 'Downtown Toronto', 'North York', 'Etobicoke',
       'Scarborough', 'North York', 'East York', 'Downtown Toronto',
       'York', 'Etobicoke', 'Scarborough', 'East Toronto',
       'Downtown Toronto', 'York', 'Scarborough', 'East York',
       'Downtown Toronto', 'Downtown Toronto', 'Scarborough',
       'North York', 'North York', 'East York', 'Downtown Toronto',
       'West Toronto', 'Scarborough', 'North York', 'North York',
       'East York', 'Downtown Toronto', 'West Toronto', 'Scarborough',
       'North York', 'North York', 'East Toronto', 'Downtown Toronto',
       'West Toronto', 'Scarborough', 'North York', 'North York',
       'East Toronto', 'Downtown Toronto', 'North York', 'North York',
       'Scarborough', 'North York', 'North York', 'East Toronto',
       'North York', 'York', 'North York', 'Scarborough', 'North York',
       'North York', 'Central Toronto', 'Central Toronto', 'York', 'York',
       'Scarborough', 'North York', 'Central Toronto', 'Central Toronto',
       'West Toronto', 'Etobicoke', 'Scarborough', 'North York',
       'Central Toronto', 'Central Toronto', 'West Toronto',
       'Mississauga', 'Etobicoke', 'Scarborough', 'Central Toronto',
       'Downtown Toronto', 'West Toronto', 'Scarborough',
       'Central Toronto', 'Downtown Toronto', 'Scarborough',
       'Central Toronto', 'Downtown Toronto', 'Etobicoke', 'Etobicoke',
       'Scarborough', 'Downtown Toronto', 'Downtown Toronto', 'Etobicoke',
       'Etobicoke', 'Scarborough', 'Downtown Toronto', 'Downtown Toronto',
       'Etobicoke', 'Downtown Toronto', 'East Toronto', 'Etobicoke',
       'Etobicoke'], dtype=object)

### Make sure that postal codes appear only one

In [5]:
df['Postal Code'].value_counts(ascending=False)

M8W    1
M4R    1
M1N    1
M2J    1
M7A    1
      ..
M1B    1
M1E    1
M4S    1
M6K    1
M1H    1
Name: Postal Code, Length: 103, dtype: int64

### Shape of dataframe

In [6]:
df.shape

(103, 3)

### import coordinates csv
geocoders didnt work

In [7]:
gc_df=pd.read_csv('gc.csv')
gc_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### inner join both dataframes

In [12]:
mi_df = pd.merge(left=df, right=gc_df, left_on='Postal Code', right_on='Postal Code')
mi_df.head(5)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494