### Imports

In [1]:
import pandas as pd

### download all tables from wiki and select the correct one

In [2]:
df_list=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df=df_list[0]
df.head(5)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### remove all not assigned boroughs

In [3]:
df=df.loc[df['Borough'] !='Not assigned']
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [4]:
df['Borough'].values

array(['North York', 'North York', 'Downtown Toronto', 'North York',
       'Downtown Toronto', 'Etobicoke', 'Scarborough', 'North York',
       'East York', 'Downtown Toronto', 'North York', 'Etobicoke',
       'Scarborough', 'North York', 'East York', 'Downtown Toronto',
       'York', 'Etobicoke', 'Scarborough', 'East Toronto',
       'Downtown Toronto', 'York', 'Scarborough', 'East York',
       'Downtown Toronto', 'Downtown Toronto', 'Scarborough',
       'North York', 'North York', 'East York', 'Downtown Toronto',
       'West Toronto', 'Scarborough', 'North York', 'North York',
       'East York', 'Downtown Toronto', 'West Toronto', 'Scarborough',
       'North York', 'North York', 'East Toronto', 'Downtown Toronto',
       'West Toronto', 'Scarborough', 'North York', 'North York',
       'East Toronto', 'Downtown Toronto', 'North York', 'North York',
       'Scarborough', 'North York', 'North York', 'East Toronto',
       'North York', 'York', 'North York', 'Scarborough', 'North York',
       'North York', 'Central Toronto', 'Central Toronto', 'York', 'York',
       'Scarborough', 'North York', 'Central Toronto', 'Central Toronto',
       'West Toronto', 'Etobicoke', 'Scarborough', 'North York',
       'Central Toronto', 'Central Toronto', 'West Toronto',
       'Mississauga', 'Etobicoke', 'Scarborough', 'Central Toronto',
       'Downtown Toronto', 'West Toronto', 'Scarborough',
       'Central Toronto', 'Downtown Toronto', 'Scarborough',
       'Central Toronto', 'Downtown Toronto', 'Etobicoke', 'Etobicoke',
       'Scarborough', 'Downtown Toronto', 'Downtown Toronto', 'Etobicoke',
       'Etobicoke', 'Scarborough', 'Downtown Toronto', 'Downtown Toronto',
       'Etobicoke', 'Downtown Toronto', 'East Toronto', 'Etobicoke',
       'Etobicoke'], dtype=object)

### Make sure that postal codes appear only one

In [5]:
df['Postal Code'].value_counts(ascending=False)

M4E    1
M4A    1
M6S    1
M9B    1
M4L    1
      ..
M6B    1
M2K    1
M5B    1
M1J    1
M5K    1
Name: Postal Code, Length: 103, dtype: int64

### Shape of dataframe

In [6]:
df.shape

(103, 3)